.header-login{
    width: 100%;
    text-align: center;
}

.inputs-login{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    margin-top: 20px;
}

.login-full-container {
  width: 100%;
  background-color: #1a1a19;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.login-container {
  max-width: 1366px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-auth {
  max-width: 620px;
  max-height: 480px;
  width: 100%;
  height: 100%;
  background-color: #f6fcdf;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}

.login-auth hr {
  width: 100%;
}

.login-auth > form {
  width: 100%;
  height: 100%;
}

.login-auth > form > .body-login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.input-login-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 4px 8px;
  border-radius: 10px;
  background: var(--color-background-negro);
}

.input-login-container .material-icons {
  margin-right: 8px;
  color: var(--beige);
}

.input-email-login {
  background-color: #1a1a19;
  color: var(--beige);
  padding: 10px;
  height: 25px;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  outline: none;
  width: 100%;
}

.input-pass-login {
  background-color: #1a1a19;
  color: var(--beige);
  padding: 10px;
  height: 25px;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  outline: none;
  width: 100%;
}

.input-email-login::placeholder {
  color: #f6fcdfaf;
}

.input-pass-login::placeholder {
  color: #f6fcdfaf;
}

.button-login {
  background-color: var(--color-verde-oscuro);
  color: var(--beige);
  height: 54px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 200ms ease;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.15);
}

.button-login:hover {
  background-color: #274119;
}

.register-footer-text{
    font-weight: 700;
}

.register-footer-text > a{
    color: var(--color-verde-oscuro);
    cursor: pointer;
}

.cacctus-footer-login{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.cacctus-footer-login > img{
    width: 50px;
    height: 50px;
}

.cacctus-footer-login > h1{
   color: var(--beige);
}

